*{
margin: 0;
padding: 0;
font-family: Georgia;
box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(http://www.roswellpark.org/sites/default/files/2020-04/adobestock_82396523.jpg);
	background-position: cover;
	background-size: cover;
	position: absolute;
}

form{
margin-top: 50px;
text-align: center;
}

input{
display: block;
width: 350px;
height: 40px;
margin: 20px;
border: none;
outline: none;
font-size: 18px;
border-bottom: 1px solid black;
background-size: cover;
background: transparent;
color: black;
}

button{
font-size: 20px;
color: black;
transition: .5s;
}

button{
font-size: 20px;
color: black;
transition: .5s;
}
.buttons button:hover{
	background: #cc0000;
}

form h2{
	margin-bottom: 30px;
	color: black;
	}
	
	::placeholder{
	color: black;
	} 


select { 
      display: block; 
 	width: 350px;
      height: 40px;   	
      margin: 20px;
 	border: none; 
      outline: none; 
      padding: 0px; 
 	font-size: 18px;
      background-size: cover;
      background: transparent; 	
      color: black;   	
      border-bottom: 1px solid ;  	 
 	-webkit-transition: .5s ease; 
 	-moz-transition: .5s ease; 
 	-o-transition: .5s ease;  	
      -ms-transition: .5s ease;  	
       transition: .5s ease; 
} 
