body{
font-family: Georgia;
background-image: url(https://c8.alamy.com/comp/2G69RX6/cartoon-man-donating-blood-vector-illustration-black-outlined-and-white-colored-2G69RX6.jpg);
background-repeat: no-repeat;
overflow: hidden;
background-size: 1300*1000;
}

.container{

width: 380px;
margin: 7% auto;
border-radius: 25px;
background-color: rgba(0,0,0,0.2);
box-shadow: 0 0 17px #333;
}

.header{
text-align: center;
padding-top: 75px;
}

header h1{
color: ;rown
font-size: 45px;
margin-bottom: 80px;
}

.main{
text-align: center;
}

.main input, button{
width: 300px;
height: 40px;
border: none;
outline: none;
padding-left: 40px;
box-sizing: border-box;
font-size: 15px;
color: white;
margin-bottom: 48px;
}

.main button{
padding-left:0;
background-color: black;
letter-spacing: 1px;
font-weight: bold;
margin-bottom: 50px;
}

.main button:hover{
box-shadow: 2px 2px 5px #555;
background-color: #7799d4;
}

.main input:hover{
box-shadow: 2px 2px 5px #555;
background-color: black;
}

.main span{
position: relative;
}

.main i{
position: absolute;
left: 15px;
color: #333;
font-size: 16px;
top: 2px;
}